.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 64%;
}

.containerDiv1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(250, 250, 250);
    border-radius: 1%;
    padding: 15px;
    margin-bottom: 20px;
}

.chartjs-render-monitor{
  min-height: 100% !important;
}

.containerDiv2{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgb(250, 250, 250);
  border-radius: 1%;
  margin-top: 20px;
}

@media only screen and (max-width: 770px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .containerDiv1{
      margin-left: -15px;
      height: 100%;
    }
    .containerDiv2{
      margin-left: -15px;
      height: 100%;
    }
  }