.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 74%;
}

.containerDiv1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgb(247, 247, 247);
  border-radius: 1%;
  padding: 15px 9px;
  margin-bottom: 27px;
  border: 1px solid darkgray;
  margin-left: -8px;
}

.chartjs-render-monitor {
  min-height: 100% !important;
}

.containerDiv2 {
  justify-content: center;
  width: 35%;
  height: 100%;
  padding: 20px;
  background: rgb(247, 247, 247);
  border-radius: 1%;
  border: 1px solid darkgray;
  margin-left: -7px;
}
.containerDiv3 {
  justify-content: center;
  width: 65%;
  height: 100%;
  padding: 11px;
  background: rgb(247, 247, 247);
  border-radius: 1%;
  border: 1px solid darkgray;
  margin-left: 30px;
}

.displayDiv {
  display: flex;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .containerDiv1 {
    margin-left: -25px;
    height: 100%;
    margin-top: 5px;
    width: 110%;
    border: 1px solid darkgray;
  }
  .containerDiv2 {
    height: 100%;
    width: 103%;
    margin-left: -25px;
    margin-bottom: 25px;
  }

  .containerDiv3 {
    height: 100%;
    width: 109%;
    margin-left: -25px;
  }

  .displayDiv {
    display: unset;
  }
}
