.contaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.card{
    margin: 6% 2% !important;
}

.my_card {
    position: absolute;
    width: 32px;
    border-radius: 50%;
    margin-top: -55px;
    border: 1px solid #17a2b8!important;
    background-color: white;
    justify-content: center;
    margin-left: 5%;
}

.text_info {
    color: #17a2b8 !important;
}

.p_3 {
    padding: 1rem!important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.infected_border_info {
    border-color: #17a2b8!important;
}

.infected{
    border: 1px solid #17a2b8!important;
}

.recovered_border_info {
    border-color: #28a745!important;
}

.recovered{
    border: 1px solid #28a745 !important;
}

.deaths_border_info {
    border-color: #dc3545 !important;
}

.deaths{
    border: 1px solid #dc3545 !important;
}

.infected_heading {
    color: #17a2b8;
}

.recovered_heading {
    color: #28a745;
}

.death_heading {
    color: #dc3545;
}

@media only screen and (max-width: 770px) {
    .card {
      margin: 6% 0 !important;
    }

    .date{
        margin-bottom: 15%;
    }
    .my_card {
        position: absolute;
        width: 32px;
        border-radius: 50%;
        margin-top: -55px;
        background-color: white;
        justify-content: center;
        margin-left: 30%;
    }
  }